$--color-primary: #007dff;

@forward "element-plus/theme-chalk/src/common/var.scss" with (
    $colors: (
        "primary": (
            "base": $--color-primary,
        ),
    )
);
$--font-path: "~element-plus/lib/theme-chalk/fonts";

@import "element-plus/theme-chalk/src/index";