body,
div {
    direction: rtl !important;
}

.el-input__prefix-inner>:last-child {
    margin-right: 0 !important;
    margin-left: 8px !important;
}

.el-button+.el-button {
    margin-right: 12px;
    margin-left: 0 !important;
}

.menu-item .menu-icon {
    margin-left: 20px !important;
}

.el-divider__text.is-center {
    left: 0px !important;
    right: 50% !important;
    transform: translateX(50%) translateY(-50%) !important;
}

.text-right {
    text-align: left;
}

.lil-gui.autoPlace {
    top: 126px !important;
    position: fixed;
    right: unset !important;
    left: 26px !important;
}

.el-tabs--left .el-tabs__header.is-left {
    float: right !important;
    margin: 0 !important;
    border-left: 1px solid var(--el-border-color);
}

.el-tabs--left .el-tabs__header.is-right {
    float: left !important;
    margin: 0 !important;
    border-right: 1px solid var(--el-border-color);
}