/* 系统色 */
$--color-primary: var(--systemThemeColor);
$--color-minor: var(--systemThemeColorActive);
/* 顶部色 */
$--header-primary: var(--headerThemeColor);
$--header-minor: var(--headerThemeColorActive);
/* 菜单栏色 */
$--menu-primary: var(--menuThemeColor);
$--menu-minor: var(--menuThemeColorActive);
