:root {
    --systemThemeColor: #007dff;
    --systemThemeColorActive: #4dcaff;
    --el-color-primary: var(--systemThemeColor);
    --el-color-primary-light-3: var(--systemThemeColorActive);
    --el-color-primary-dark-2: var(--systemThemeColor);
}

$--color-primary: var(--systemThemeColor);
$--color-minor: var(--systemThemeColorActive);

:export {
    primaryColor: $--color-primary;
}
